:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: hsl(249, 11%, 12%);
  --other-color: hsl(249, 11%, 15%);
  --primary-color: #ecb028;
  --secondary-color: #1d324f;
  --tertiary-color: #c82735;
  --font-color: #e9f1f7;

  /* Bandcamp: The Bandcamp blue */
  --bandcamp-color: #1da1f2;

  /* Spotify: The Spotify green */
  --spotify-color: #1db954;

  /* YouTube: The YouTube red */
  --youtube-color: #ff0000;

  /* SoundCloud: The SoundCloud orange */
  --soundcloud-color: #ff5500;

  /* Facebook: The Facebook blue */
  --facebook-color: #1877f2;

  /* Instagram: The Instagram gradient (Note: This is more complicated as it's a gradient, not a solid color) */
  --instagram-gradient: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040
  );

  /* TikTok: The TikTok black */
  --tiktok-color: #000000;

  /* Twitch: The Twitch purple */
  --twitch-color: #9146ff;

  /* Threads: I'm not sure of the official color, so I'll use a placeholder grey for now. Adjust as needed */
  --threads-color: #808080;

  color-scheme: dark;
  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
