.musicianAddFormContainer {
  border: 1px solid var(--font-color);
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.formSectionGood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.212);
  padding: 1rem;
}

form h4 {
  margin: 0 0 1rem 0;
}

.submitButton {
  border: 0px;
}

.submitButton:hover {
  border: 0px;
}

.submitHelper {
  color: var(--tertiary-color);
}
