.musicianPage {
  border: 1px solid var(--font-color);
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.1s ease; /* smooth transition for the shadow */
  box-shadow: none;
}

.nameAndPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  height: 100%;
  width: 30%;
}

.pageHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.keyInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
}

.musicianPage .socialLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 24px;
  width: 100%;
  align-items: center;
  height: 3rem;
}

.musicianPage .socialLinks a {
  text-decoration: none;
  color: var(--primary-color);
}

.musicianPage .socialLinks a:hover {
  text-decoration: underline;
  color: var(--primary-color);
  opacity: 50%;
  border-radius: 50%;
}

.musicianPage .profileImage {
  max-height: 100%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.smallSpotifyPlayer {
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .pageHeader {
    flex-direction: column;
    justify-content: center;
  }

  .musicianPage {
    justify-content: center;
  }

  .nameAndPhoto {
    width: 70%;
    margin: 0;
  }

  .keyInfo {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }

  .keyInfo p {
    margin: 0;
  }
}
