.socialLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* font-size: 1.7rem; */
  /* width: 80%; */
}

.socialLinks a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.socialLinks a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}