.musicianAddFormContainer {
  border: 1px solid var(--font-color);
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.submitButton {
  border: 0px;
}

.submitButton:hover {
  border: 0px;
}
