.musicianAddFormContainer {
    border: 1px solid var(--font-color);
    padding: 20px;
    border-radius: 5px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.1s ease; /* smooth transition for the shadow */
    box-shadow: none;
  }